.square {
    background-color: #96d9ce;
    box-shadow: none;
    box-sizing: border-box;
    height: 30px;
    line-height: 1.8;
    text-align: center;
    width: 30px;
}

.square img {
    padding: 5px;
    width: 1rem;
}

.closed {
    background-color: #ffe499;
    box-sizing: content-box;
    outline: 1px dashed rgba(255, 251, 215);
}